WEBAPI_HOST=0.0.0.0
WEBAPI_PORT=8000

PERSISTENCE_POSTGRESQL_HOSTNAME=backend-db.dev
PERSISTENCE_POSTGRESQL_PORT=5432
PERSISTENCE_POSTGRESQL_DATABASE=ecopath-backend
PERSISTENCE_POSTGRESQL_USER=postgres
PERSISTENCE_POSTGRESQL_PASSWORD=postgres

SEED_DB=false
SEED_DAYS=31